*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

h1{
  font-weight: bold;
  font-size:160px;
  color: cyan;
  
  
}